<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">

        <!-- 导航栏商标 -->
        <a class="navbar-brand" href="#">Srcheke</a>

        <!-- 导航入口 -->
        <div>
            {% if user.is_authenticated %}
                <ul class="navbar-nav" style="float: left">
                    <!-- 条目 -->
                    <li class="nav-item">
                        <a class="nav-link" style="float: left" href="{% url 'article:article_create' %}">写文章</a>
                    </li>
                </ul>
                <!-- 如果用户已经登录，则显示用户名下拉框 -->
                <li class="nav-item dropdown" style="float: left">
                    <a class="nav-link dropdown-toggle" style="float: right" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出登录</a>
                    </div>
                </li>
                <!-- 如果用户未登录，则显示 “登录” -->
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" style="float: right" href="{% url 'userprofile:login' %}">登录</a>
                </li>
                <!-- if 语句在这里结束 -->
            {% endif %}
        </div>

    </div>
</nav>